nimcache/
build/
builds/
dist/
bin/
*.exe
*.dll
*.so
*.dylib
*.out
*.obj
*.lib
*.a
*.pdb
*.ilk
*.exp
*.log
*.tmp
*.swp
*.bak
*.stackdump
tests/test_smoke
tests/test_meta_pragmas
src/client/frontend/cli/app
src/client/frontend/illwill_tui/app_tui
src/client/frontend/owlkettle_ui/app
src/client/frontend/webui/app
src/client/frontend/webui_ui/app
.DS_Store
.vscode/
.idea/
nimble.develop
nimble.paths
.iron/.local*
!.iron/.local*.template

nimbledeps
