nimcache/
build/
builds/
dist/
bin/
*.exe
*.dll
*.so
*.dylib
*.out
*.obj
*.lib
*.a
*.pdb
*.ilk
*.exp
*.log
*.tmp
*.swp
*.bak
*.stackdump
.DS_Store
.vscode/
.idea/
nimble.develop
nimble.paths
.iron/.local*
!.iron/.local*.template

